@font-face{
	font-family: Lato-bold;
	src: url("../fonts/Lato-Bold.ttf");
}
@font-face{
	font-family: Lato-Light;
	src: url("../fonts/Lato-Light.ttf");
}
@font-face{
	font-family: Lato-italic;
	src: url("../fonts/Lato-Italic.ttf");
}
@font-face{
	font-family: Lato-Regular;
	src: url("../fonts/Lato-Regular.ttf");
}
body{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
button, input{
	outline: 0;
}

/*===============================HEADER======================================*/
.container-header{
	width: 85%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}
header{
	background: black;
	height: 80px;
	width: 100%;
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
}
.logo-topo{
    padding-top: .3em;
	height: 100%;
}

.img-logo{
    display: block;
    height: 100%;
}
.menu-topo{
	height: 100%;
    line-height: 4;
    text-align: center;
}
.menu-nav-topo{
	height: 100%;
}
.menu-nav-topo ul{
	height: 100%;
	list-style: none;
	
	margin-bottom: 0;
}
.menu-nav-topo li{
	display: inline-block;
	padding: 1em;
	height: 100%;
	transition: 0.2s;
}
.menu-nav-topo li a{
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato-Regular', sans-serif;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    
}
.menu-nav-topo li:hover{
	color: #fff;
	transition: .8s;
	background: #f5b83a;
}
.botoes-header{
	height: 100%;
	text-align: right;
    padding-top: .5em;
}
.btn-move{
	padding-top: 1.2em;
	height: 100%;
}
.btn-cadastra{
	border: 1px solid #e5b747;
    background: #e5b747;
    padding: .8em 1.8em;
    border-radius: .4em;
    color: #fff;
    text-transform: uppercase;
    margin-right: .5em;
    font-family: 'Lato-Bold', sans-serif;
}
.btn-entrar{
	border: 1px solid #5592af;
    background: #5592af;
    padding: .8em 2.3em;
    border-radius: .4em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato-Bold', sans-serif;
    transition: 0.2s;
}
.btn-entrar:hover{
	background: #397e9f;
	transition:.8s;
}
.btn-cadastra:hover{
	background: #dca32f;
	transition:.8s;
}
.aba-2 button:hover{
	background: #397e9f;
	transition: .5s;
}

/*===============================CLASS CONTENT======================================*/

.content{
	margin: 0 auto;
	padding: 0 20px;
}

.content:after{
	clear: both;
	content: "";
	display: table;
}

@media screen and (min-width: 300px) and (max-width: 500px){
	.content{
		max-width: 100%;
	}
}

@media screen and (max-width: 767px){
	.content{
		max-width: 100%;
		padding: 0 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px){
	.content{
		max-width: 755px;
	}
	.content, .imgs-func{
		max-width: 900px;
	}
	.content-planos{
		max-width: 1200px;
	}
}

@media screen and (min-width: 1280px){
	.content{
		max-width: 1200px;
	}
}
/*===============================HEADER MOBILE======================================*/
.header-mobile{
	display: none;
    line-height: 5.3;
    width: 10%;
    height: 100%;
 	
}
.icon-mobile{
	cursor: pointer;
}
.mobile-nav ul{
	margin: 0;
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}
.mobile-nav li{
   background: black;
    padding: 1em;
    border-bottom: 1px solid #403E39;
}
.mobile-nav li:hover{
	background: #292828;
}

.mobile-nav .cadastra-mobile a:hover{
	color: #fff;
}
.mobile-nav .entrar-mobile a:hover{
	color: #fff;
}
.mobile-nav li a{
	color: #fff;
	display: block;
	text-transform: uppercase;
	font-family: 'Lato-Regular', sans-serif;
	text-decoration: none;
}
.mobile-nav li a:hover{
	color: #e5b747;
}
.mobile-nav{
	text-align: center;
}
.menu-mobile{
	display: none;
		position: relative;
	z-index: 50;
	margin-top: -5px;
	clear: both;
}
#carrosel-topo{
	clear: both;
}

@media(max-width: 1280px){
	.container-header{
		width: 88%;
	}
}
@media (max-width: 1114px){
	.menu-topo, .botoes-header{
		display: none;
	}
	.header-mobile{
		display: block;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}

@media(max-width: 1110px){
	.header-mobile{
		width: 18%;
	}
}
@media(max-width: 1366px){
	.menu-nav-topo ul{
		margin-left: 41px;
	}
}
@media(max-width: 1353px){
	.container-header{
	    width: 100%;
	}
}
@media(max-width: 680px){
	.container-header{
		width: 100%;
	}
}
@media(max-width: 500px){
	.carousel{
		display: none;
	}
}
@media(max-width: 400px){
	.container-header{
		width: 100%;
	}
	.header-mobile{
		width: 17%;
	}
}
@media(max-width: 300px){
	.container-header{
		width: 100%;
	}
}

/*===============================MODAL ENTRAR HEADER======================================*/
.modal-entrar{
	z-index: 9999;
    position: absolute;
    right: 14px;
    bottom: -444px;
    width: 260px;
    display: none;
}

.modal-content{
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: auto;
	padding: 1em;
}
.modal-content .btn-face{
	background-color: #3b5998;
	border: 1px solid #3b5998;
	padding:.2em;
	color: #fff;
	width: 100%;
	font-family: 'Lato-Regular';
}
.btn-cancel-1{
    position: relative;
    right: -197px;
    top: -64px;
    cursor: pointer;	
}
.modal-content .btn-google{
	background-color: #dd4b39;
	border: 1px solid #dd4b39;
	padding:.2em;
	color: #fff;
	width: 100%;
	font-family: 'Lato-Regular', sans-serif;
}
.btn-redes{
	position: relative;
	padding-bottom: 1em;
}
.img-face{
    position: absolute;
    left: 0;
    padding-left: .7em;

 }
 .img-google{
    position: absolute;
    left: 0;
    padding-left: .7em;
}
input.ipn-redes{
    width: 100%;
    background: none;
    border: 1px solid #fff;
    padding: .5em;
    color: #fff;
    font-family: 'Lato-Regukar', sans-serif;
    margin-bottom: 1em;
}
.miss-password{
	color: #fff;
	font-family: 'Lato-Regular';
	text-decoration: underline;
}
.miss-password:hover{
	color: #e5b747;
}
.text-aviso{
	color: #fff;
	font-family: 'Lato-Regular';
	text-transform: uppercase;
	text-align: center;
    font-size: .8em;
    padding-top: 1em;
}
.btn-modal-entrar{
	margin: 0 auto;
    background: #5592af;
    border: 1px solid #5592af;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: 7px;
    display: block;
    margin-top: 1em;
}
.btn-modal-entrar:hover{
	background: #316b86;
	border: 1px solid #316b86;
	transition.5s;
}
@media(max-width: 300px){
	.modal-entrar{
    position: absolute;
    right: 14px;
    bottom: -444px;
    width: 260px;
	}
}
/*===============================MODAL CADASTRAR HEADER======================================*/
.modal-cadastro{
    z-index: 9999;
    position: absolute;
    right: 136px;
    bottom: -509px;
    width: 400px;
    display: none;
}
.modal-content h1{
    font-family: 'Lato-Bold', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 0.5em;
}
.btn-cancel-2{
    position: relative;
    right: -337px;
    top: -64px;
    cursor: pointer;	
}
.btn-modal-cadastrar{
	margin: 0 auto;
    background: #e5b747;
    border: 1px solid #e5b747;
    color: #fff;
    padding: .5em 1.5em;
    border-radius: 7px;
    display: block;
    margin-top: 1em;
}
.btn-modal-cadastrar:hover{
	background: #dca32f;
	border: 1px solid #dca32f;
	transition.5s;
}
@media(max-width: 300px){
	.modal-cadastro{
    position: absolute;
    right: 26px;
    bottom: -509px;
    width: 260px;
	}
	.btn-cancel-2{
	position: relative;
    right: -205px;
    top: -80px;
	}
}
/*===============================BANNER MOBILE======================================*/
#carousel{
	padding-top: 5.6em;
}
.banner-mobile{
	display: none;
	background: url("../_img/banner-mobile.jpg") no-repeat;
	width: 100%;
	height: 250px;
	margin-top: 5.5em;
	overflow: hidden;
}
.banner-mobile h1{
	    color: #fff;
    margin: 0;
    font-size: 2em;
    font-family: 'Lato-Bold', sans-serif;
    text-align: center;
    padding-top: 1em;
}
.banner-mobile button{
	border: 1px solid #e5b747;
    background: #e5b747;
    padding: .8em 1.8em;
    border-radius: .4em;
    color: #fff;
    text-transform: uppercase;
    margin-right: .5em;
    font-family: 'Lato-Bold', sans-serif;
}
.btn-banner{
    text-align: center;
    padding-top: 2em;
}
.banner-mobile button:hover{
	background: #dca32f;
	transition: .5s;
}
@media(max-width: 500px){
	.banner-mobile{
		display: block;
	}
}

/*===============================BLOCO-1 SOBRE A LIGA======================================*/

#bloco-1{
  	padding-top: 7em;
    margin: 0 auto;
}
.texto-liga{
	    max-width: 810px;
    margin: 0 auto;
	padding-top: 2em;
}
.logo-liga{
	text-align: center;
}
.texto-liga p{
	 line-height: 1.6;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 1.2em;
   	margin: 0 auto;
    text-align: center;
    width: 100%;
}
.tag-texto{
    text-align: center;
    padding-top: 1em;
}
.texto-liga strong{
	font-family: 'Lato-Bold';
}
.tag-liga{
	font-family: 'Lato-Bold';
	font-size: 1.5em;
	font-weight: 900;
}


/*===============================BLOCO-2 COMO FUNCIONA======================================*/
#bloco-2{
	width: 100%;
    height: auto;
    margin-top: 6em;
}
.back-funciona{
	background: url('../_img/fundo-funciona.jpg');
	width: 100%;
	height: 536px;
	position: relative;
}
.title-borda-1 h5{
	color: #555555;
	font-family: 'Lato-Bold', sans-serif;
	text-transform: uppercase;
    border-bottom: 2px solid #e5b22c;
    padding-bottom: 1em;
    width: 139px;
    margin: 0 auto;
}
.imgs-func{
    padding-top: 5em;
    text-align: center;
}
.title-borda-1{
	text-align: center;
	padding-bottom: 4em;
    margin: 0 auto;
}

.conteudo-blocos{
     height: auto;
    width: 80%;
    margin: 0 auto; 
}
figure figcaption{
	font-size: 22px;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: 900;
	color: #fff;
	text-align: center;
}
.func{
	display: inline-block;
	width: 33%;
	margin-bottom: 4em;
}

.line-2, .func-6, .title-func{
	margin-bottom: .4em;
	display: block;
	font-size: 30px;
	font-family: 'Lato-Bold', sans-serif;
	font-weight: 900;
	color: #fff;
	text-align: center;
}
.line-2, .func-6{
	text-align: center;
}
button.btn-func {
	border: 1px solid #e5b747;
    background: #e5b747;
   width: 200px;
    height: 62px;
    border-radius: .4em;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato-Bold', sans-serif;
    font-size:16px;
}

button.btn-func:hover{
	background: #dca32f;
    transition: .8s;
}





@media screen and (max-width: 767px){
	.content{
		max-width: 100%;
		padding: 0 10px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px){

	
}
@media screen and (min-width: 300px) and (max-width: 500px){
	.content{
		max-width: 100%;
	}
	.conteudo-blocos{
		width: 100%;
	}
	
	.title-borda-1 h5{
		margin: 0 auto;
		width: 150px;
		text-align: center;
	}
	.title-borda-1{
		margin-top: 2em;
	}
	.func{
		display: block;
		width: 100%;
		padding: 1em;
	}

}

@media screen and (min-width: 1280px){
	.content{
		max-width: 1200px;
	}
}
@media screen and (min-width: 300px) and (max-width: 812px){
	.back-funciona{
		background: #292828;
		height: auto;
	}
}

/*===============================BLOCO-3 PLANOS======================================*/

.hover-img{
	cursor: pointer;
    position: absolute;
 	opacity: 0;
 	background: rgba(0,0,0,0.7);
 
    width: 100%;
    height: 100%;
}
.btn-hover-gym, .btn-hover-casa, .btn-hover-corrida{
	text-align: center;
}
.hover-img:hover{
	opacity: 1;
	transition: .8s;
	text-decoration: none;
}
.text-hover{
	text-align: center;
}
.text-hover h3{
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato-Bold',sans-serif;
	margin-bottom: .2em;
}
.text-hover p{
	color: #fff;
	font-family: 'Lato-Regular', sans-serif;
	margin-top: 0;
	text-decoration: none;
}
.btn-hover-gym button{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #b2713c;
    background: #b2713c;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Lato-Bold',sans-serif;
    border-radius: 6px;
}
.btn-hover-gym button:hover{
	background: #a35e26;
}
.btn-hover-casa button{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0e424b;
    background: #0e424b;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Lato-Bold',sans-serif;
    border-radius: 6px;
}
.btn-hover-casa button:hover{
	background: #08343c;
}
.btn-hover-corrida button{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #4c6bab;
    background: #4c6bab;
    padding: 1em;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Lato-Bold',sans-serif;
    border-radius: 6px;
}
.btn-hover-corrida button:hover{
	background: #3a5998;
}
.liga-div{
	margin-top: 7em;
}
#bloco-3{
    margin-top: 7em;
    width: 100%;
    height: auto;
}
.planos-grupo{
	margin-bottom: 5em;
}
.title-borda-2 h5{
	color: #555555;
	font-family: 'Lato-Bold', sans-serif;
	text-transform: uppercase;
    border-bottom: 2px solid #e5b22c;
    padding-bottom: 1em;
    width: 80px;
    margin: 0 auto;
}
.title-borda-2{
	text-align: left;
	padding-bottom: 2em;
	width: 100%;
    margin: 0 auto;
}
.title-borda-2{
	text-align: center;
}
.div-academia, .div-casa, .div-corrida{
	width: 354px;
	height: 408px;
	margin-bottom: 1em;
	position: relative;
	margin-right: 1em;	
  
}

.titulo-planos{
	text-align: center;
	padding-bottom: 2.3em;
	width: 100%;
}
.titulo-planos p{
    width: 56%;
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0 auto;
    font-family: 'Lato-Regular', sans-serif;
}
.titulo-planos h1{
	font-family: 'Lato-Bold';
    text-transform: uppercase;
    font-weight: 900;
}



.img-casa, .img-corrida, .img-academia{
	cursor: pointer;
	width: 354px;
}


@media screen and (min-width: 300px) and (max-width: 500px){
	.img-academia, .img-casa, .img-corrida{
		width: 280px;
	}
	.hover-img{
    height: 322px;
    width: 280px;
	}
	.div-academia, .div-casa, .div-corrida{
    height: 322px;
    width: 280px;
	}
	
}

/*===============================BLOCO-4 VIDEO======================================*/
#bloco-4{
    width: 100%;
    height: auto;
}
.bloco-video{
	height: 550px;
	position: relative;
	overflow: hidden;
	width: 100%;

}
.titulo-video{
	text-align: center;
	padding-bottom: 2.3em;
}
.titulo-video h1{
	font-family: 'Lato-Bold';
    text-transform: uppercase;
    font-weight: 900;
}
.titulo-video p{
    line-height: 1.6;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Lato-Regular';
}
.icon-video{
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    position: absolute;
    margin: 0 auto;
    padding: 2em;
    cursor: pointer;
    text-align: center;
    left: 50%;
}
.titulo-video p{
    min-width: 265px;
    margin: 0 auto;
    width: 430px;
    line-height: 1.6;
    font-size: 1.2em;
    text-align: center;
    font-family: 'Lato-Regular';
}
.cover-video{
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 550px;
    top: 0;
}
.icon-video, .video-play{
	margin-bottom: 1em;
}
.video-play:hover{
	transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-o-transform: rotate(360deg) scale(1.2);
	transition: 2s;
}
.func-hover:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transition: 2.2s;
}

video.liga-film{
	position: relative;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	min-width: 100%;
	cursor: pointer;
}
@media(max-width: 1280px){
	.titulo-video p{
		width: 34%;
	}
}
@media(max-width: 1200px){
	.titulo-video p{
		width: 54%;
	}
}
@media(max-width: 1024px){
	.titulo-video p{
		width: 46%;
	}
}
@media(max-width: 768px){
	.titulo-video p{
		width: 64%;
	}
	.content{
		padding: 0;
	}
}
@media screen and (min-width: 300px) and (max-width: 500px){
	
}

/*===============================BLOCO-5 DEPOIMENTOS======================================*/

#bloco-5{
	padding-top: 7em;
	width: 100%;
	height: auto;
}
.title-borda-3 h5{
	color: #555555;
	font-family: 'Lato-Bold', sans-serif;
	text-transform: uppercase;
    border-bottom: 2px solid #e5b22c;
    padding-bottom: 1em;
    width: 110px;
    margin: 0 auto;
}
.title-borda-3{
	text-align: left;
	padding-bottom: 4em;
	width: 50%;
	text-align: center;
    margin: 0 auto;
}
.back-depo{
	width: 100%;
	padding:1em;
	height: auto;
	background: #e8ba31;
}
.title-depo{
	text-align: center;
    padding-top: 2em;
}
.title-depo h1{
	font-family: 'Lato-Bold';
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.title-depo p{
	font-family: 'Lato-Regular';
    color: #fff;
    font-size: 1.2em;
}
.box{
	box-shadow: 8px 16px 26px -6px rgba(0, 0, 0, 0.2);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 6px;
	margin-right: .4em;
    max-width: 338px;
    min-width: 255px;
    margin-bottom: 2em;
	text-align: center;
	width: 30%;
	padding: .5em;
	display: inline-block;
}
.grupo-box{
	width: 60%;
	margin: 0 auto;
	padding-top: 4em;
	text-align: center;
}
.img-foto{
	padding-top: 1em;
}
.botao-mais{
	text-align: center;
	padding-bottom: 1em;
}
.botao-mais button{
    background: #fff;
    border: 1px solid #fff;
    padding: 1.2em;
    border-radius: 9px;
    color: #e8ba31;
    text-transform: uppercase;
    font-family: 'Lato-Bold';
    font-weight: 900;
    cursor: pointer;
}
.botao-mais button:hover{
	background: black;
	color: #e8ba31;
	transition: .8s;
	border: 1px solid black;
}

@media(max-width: 1280px){
	.grupo-box{
		width: 65%;
	}
}
@media(max-width: 1200px){
	.grupo-box{
		width: 69%;
	}
}
@media(max-width: 1080px){
	.grupo-box{
		width: 76%;
	}
}
@media(max-width: 1024px){
	.grupo-box{
		width: 80%;
	}
	.title-borda-3{
		width: 90%;
	}
}
@media(max-width: 992px){
	.grupo-box{
		width: 82%;
	}
}

@media(max-width: 300px){
	.grupo-box{
		width: 100%;
	}
}

/*===============================BLOCO-6 NEWS======================================*/

.news-bloco{
	background: #1c1c1c;
	width: 100%;
	padding: 2em;
	position: relative;
	height: auto;
}
.news-bloco h1{
	color: #e8ba31;
	font-family: 'Lato-Italic';
	font-weight: 900;
	padding-bottom: .5em;
}
.news-bloco input{
    padding: 1.5em;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 100%;
    max-width: 420px;
    min-width: 262px;
}
.news-bloco button{
    background: #e8ba31;
    border: 1px solid #e8ba31;
    padding: 1.5em;
    width: 141px;
    font-family: 'Lato-Bold';
    font-weight: 900;
    color: #fff;
    border-radius: 7px;
}
.news-bloco button:hover{
	    background: #dca32f;
    transition: .8s;
}
.grupo-center{
	width:70%;
	margin: 0 auto; 
}

@media(max-width: 768px){
	.grupo-center{
		width: 80%;
	}
}

@media(max-width: 500px){
	.grupo-center{
		width: 100%;
	}
	.news-bloco input{
		margin-bottom: .5em;
	}
}
/*===============================BLOCO-6 RODAPE======================================*/
.bloco-rodape{
	width: 100%;
	height: 80px;
	background: black;
}
footer{
	width: 70%;
	padding: .5em;
	height: 80px;
	margin: 0 auto;
}
.lista-rodape ul{
	list-style: none;
	line-height: 4;
	height: 100%;
}
.bloco-rodape-mobile{
	display: none;
}
.lista-rodape li{
	display: inline-block;
	padding-left: 1em;
}
.lista-rodape a{
	display: block;
	color: #fff;
	font-family: 'Lato-Bold'
}
.lista-rodape a:hover{
		color: #e8ba19;
}
.logo-rodape:hover{
	transform: rotate(360deg)
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);;
	transition: 2.2s;	
}
.redes-hover:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transition: 2.2s;	
}




	
}
.redes-sociais ul{
	list-style: none;
	line-height: 4;
}
.redes-sociais li{
	display: inline-block;
	padding-left: 1em;
}
.redes-socias a`{
	display: block;
}

@media(max-width: 1024px){
	footer{
    width: 100%;
    padding: 1em;
	}
}
@media(max-width: 992px){
	footer{
		width: 82%;
	}
}
@media(max-width: 800px){
	footer{
		width: 100%;
	}
}
@media(max-width: 768px){
	footer{
		width: 100%;
	}
	.lista-rodape ul{
		padding-left: 0;
	}
	.redes-sociais ul{
		padding-left: 0;
	}
	.redes-sociais li{
		padding-left: 10px;
	}
}
@media(max-width: 500px){
	.bloco-rodape{
		display: none;
	}
	.bloco-rodape-mobile{
		display: block;
		background: black;
		width: 100%;
		height: auto;
		text-align: center;
		
	}
	.lista-rodape-mobile ul{
		padding-left: 0;
		list-style: none;
	}
	.lista-rodape-mobile li{
		display: block;
		width: 100%;
		background: #292828;
		padding: 1em;
		border-bottom: 2px solid black;
		padding-bottom: .5em;
	}
	.bloco-rodape-mobile footer{
		width: 100%;
		height: auto;
		padding: 0;
	}
	.bloco-rodape-mobile a{
		color: #fff;
		font-family: 'Lato-Bold';
	}

	.logo-rodape{
		padding-bottom: 1em;
    padding-top: 1em;
	}
	.redes-sociais-mobile{
		padding: 1em;
	}
	.redes-sociais-mobile li{
		display: inline-block;
		padding-left: 1em;
	}
	.redes-sociais-mobile ul{
		padding-left: 0;
	}
	.bloco-rodape-mobile a:hover{
		color: #e5b22c;
	}
	.title-borda-2 h5{
		margin: 0 auto;
	    width: 80px;
	    text-align: center;
	}
	.title-borda-3 h5{
		margin: 0 auto;
	    width: 130px;
	    text-align: center;
	}
}


@media screen and (max-width: 767px){
	.title-borda-3 h5{
		margin: 0 auto;
	    width: 130px;
	    text-align: center;
	}
	.title-borda-2 h5{
		margin: 0 auto;
	    width: 80px;
	    text-align: center;
	}
		.title-borda-1 h5{
		margin: 0 auto;
	    width: 150px;
	    text-align: center;
	}
	.title-borda-1{
		margin-top: 2em;
	}
}







